.AddAnswer {
    /* border-top: 1px solid lightgrey; */
}
.AddAnswer-checkbox {
    display: block;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    font-size: 15px;
}
.AddAnswer-button {
    display: block;
}

.AddAnswer h2 {
    font-size: 20px;
    font-weight: normal;
}